<div class="d-flex flex-row bd-highlight mb-3">
  <div class="form-froup row" style="width: 60%">
    <label class="col-sm-2 col-form-label">Employee</label>
    <div class="col-sm-10">
      <select class="form-control" [(ngModel)]="selectedEmployee">
        <option>--Select--</option>
        <option [ngValue]="empName" *ngFor="let empName of EmployeeList">
          {{ empName.EmployeeName }}
        </option>
      </select>
    </div>

    <label class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="Description"
        placeholder="Enter Employee Task"
      />
    </div>

    <label class="col-sm-2 col-form-label">Start Time</label>
    <div class="col-sm-10">
      <input
        type="time"
        id="appt"
        name="appt"
        min="09:00"
        max="18:00"
        required
      />
    </div>

    <label class="col-sm-2 col-form-label">End Time</label>
    <div class="col-sm-10">
      <input
        type="time"
        id="appt"
        name="appt"
        min="09:00"
        max="18:00"
        required
      />
    </div>

    <!-- <label class="col-sm-2 col-form-label">Department</label>
    <div class="col-sm-10">
      <select class="form-control" [(ngModel)]="Department">
        <option>--Select--</option>
        <option *ngFor="let depName of DepartmentList">
          {{ depName.DepartmentName }}
        </option>
      </select>
    </div> -->

    <label class="col-sm-2 col-form-label">Completed On</label>
    <div class="col-sm-10">
      <input type="date" [(ngModel)]="DateOfJoining" />
    </div>

    <!-- <label class="col-sm-2 col-form-label">Tasks</label>
    <div class="col-sm-12">
      <select class="form-control" [(ngModel)]="Tasks">
        <option>--Select--</option>
        <option *ngFor="let Tasks of DepartmentList">
          {{ task.Tasks }}
        </option>
      </select>
    </div> -->
  </div>

  <div class="ml-3 bd-highlight" style="width: 40%">
    <img src="task.jpg" alt="Task Image" />
    <!-- <input type="file" (change)="uploadPhoto($event)" class="mt-2" /> -->
  </div>
</div>

<button (click)="addTasks()" class="btn btn-primary">Add</button>

<button (click)="updateTasks()" class="btn btn-primary">Update</button>
